# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=minecraft_airport

# Sur Railway, ces variables seront automatiquement renseignées :
# MYSQL_HOST → DB_HOST
# MYSQL_USER → DB_USER
# MYSQL_PASSWORD → DB_PASS
# MYSQL_DATABASE → DB_NAME
