RewriteEngine On

# Rediriger vers le dossier public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# Redirection des fichiers PHP
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)\.php$ /public/$1.php [L]

# Sécurité
<FilesMatch "\.(sql|md|gitignore|env)$">
    Order allow,deny
    Deny from all
</FilesMatch>
